<style>
/*
	body { 
		padding-top:20px;
		font-family:helvetica,arial;
		text-shadow:#000 0px 1px 1px;
		}
	.date {
        position: absolute;
        left: 40%;
        font-family: sans-serif;
        color:black;
    }
	node { 
		stroke-width: 1.5px;
		}
	.graph {
		margin:0 auto;
		width:960px;
		color:#FFF;
		border: 1px dashed #333;
		fill: black;
		}		
	line {
		stroke: #ccb;
		-webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
		}
	.text {
		text-align:justify;	
		width:940px;
		height:140px;
		margin: 0 auto;
		color:#FFF;
		font-size:14px;
		line-height:20px;
		}
		
	.text a {
		color:orange;
		text-decoration:none;
		}
	.text a:hover {
		color:red;
		}

*/
	.graph {
		margin:0 auto;
		width:1400px;
		color:#FFF;
		border: 1px dashed #333;
		fill: black;
	}	
	.date {
        position: absolute;
        left: 40%;
        font-family: sans-serif;
        color:black;
    }
    .invisible{
    	opacity: 0
    }
	path.link {
	  fill: none;
	  stroke: #666;
	  stroke-width: 2px;
	  -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
	}
	
	path.link:hover{
		cursor: pointer;
	}

	circle {
	  /*fill: #ccc;*/
	  fill: wheat;
	  stroke: rgb(108, 83, 55);
	  stroke-width: 2px;
	}
		/* Calender CSS*/
	      	rect.highlight{
	      		fill: #afd9ee !important;
	      	}

	      	.q1{
	      		fill: darkgreen !important;
	      	}
	      	
	      	.q2{
	      		fill: lightgreen !important;
	      	}
	      	
	      	.q3{
	      		fill: yellow !important;
	      	}
	      	
	      	.q4{
	      		fill: orange !important;
	      	}
	      	
	      	.q5{
	      		fill: red !important;
	      	}
	      	
	      	#traffic_flow_slider a:hover{
	      		cursor: pointer;
	      		text-decoration: none;
	      	}
      	/* Calender CSS*/
</style>
<div id="traffic_flow_slider" style="float:left">
	<ul>
    	<li><a data-status="5">5- Red</a></li>
    	<li><a data-status="4">4- Orange</a></li>
    	<li><a data-status="3">3- Yellow</a></li>
    	<li><a data-status="2">2- Dark Green</a></li>
    	<li><a data-status="1">1- Light Green</a></li>
  	</ul>
</div>
<div class="graph"></div>
<br />
<div id="onClick-a" align="center">
	<div id="cal-heatmap"></div>
	<span id="onClick-placeholder"></span>
</div>
